### copy and paste each packages ###

# 1- Django packages

pip install django
pip install djangorestframework
pip install django-cors-headers
#python -m pip install django-cors-headers

pip install Pillow # Python Imaging Library


#python -m django startproject project_backend
#Commands To Start new applications in Django
#python manage.py startapp warQ


# 2- database packages

pip install psycopg2
#python -m pip install psycopg2



 # 3- React packeges 

npm install react-scripts --save #for react workframe

# 2.1- React packeges if the upper one didn't work

#npm cache clean --force
#npm rebuild
#npm install

npm install axios
npm install --save react-router-hash-link


